:root {
  --LAKERS_YELLOW: #fdb927;
  --LAKERS_YELLOW_OP: #ffdd94;
  --LAKERS_PURPLE: #782fbc;
  --LAKERS_BLACK: #000000;
  --MID_GREY: #6b6e76;
  --DARK_GREY: #202125;
  --LIGHT_GREY: #d4d4d4;
  --ORANGE: #ff9100;
  --RED: #fd2727;
  --GREEN: #2fa62b;
  --BLUE: #276bfd;
  --BACKGROUND: #f6f6f5;
  /* --BACKGROUND: #f6f6e5; */
  --REFERENCE_TEXT_COLOR: #5e5e5e;
  --REFERENCE_TITLE_COLOR: #6e6e6e;
}

@font-face {
  font-family: ganhdi;
  src: url('../gandhi-serif/GandhiSerif-Regular.otf');
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: ganhdi;
  line-height: 1.7em;
  margin: 0;
  background-color: var(--BACKGROUND);
}

/* general layout settings */
/* page */
.page {
  display: block;
  text-align: center;
  width: 100%;
}

.page p {
  text-align: left;
  font-size: 24px;
  line-height: 150%;
  width: 800px;
  margin: auto;
  color: var(--DARK_GREY);
}

/* highlight text */
.highlight-keywords {
  color: var(--LAKERS_YELLOW);
}

.highlight-figures {
  color: var(--LAKERS_YELLOW);
  font-size: 48px;
}

/* section */
.section-title {
  margin-top: 20px;
  margin-bottom: 80px;
  font-size: 48px;
}

/* three-dots divider */
.three-dots {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 10px;
}

.three-dots span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: black;
  display: inline-block;
  margin: 0 5px;
}

/* text visibility */
.text-show {
  opacity: 1 !important;
}

.text-hide {
  opacity: 0.05;
  transition: all 100ms ease-in;
}

/* axis */
.axisLight line {
  /* stroke: var(--LIGHT_GREY); */
  stroke: var(--MID_GREY);
}

.axisLight path {
  /* stroke: var(--LIGHT_GREY); */
  stroke: var(--MID_GREY);
  display: none;
}

.axisLight text {
  fill: var(--LIGHT_GREY);
  font-size: 20px;
}

.axisRecord text {
  font-size: 18px;
}

.new-team-axis path{
  display: none;
  stroke: var(--LIGHT_GREY);
}

.new-team-axis line{
  stroke: var(--LIGHT_GREY);
}

/* cover page */
.cover {
  background-image: url('../files/images/trophy.jpg');
  opacity: 0.95;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover #title {
  position: absolute;
  bottom: 140px;
  color: white;
  left: 150px;
}

.cover #title h1 {
  font-family: 'Oswald';
  font-size: 140px;
  margin-bottom: 100px;
}

.cover #title h2 {
  font-size: 36px;
}

.cover #title p {
  font-size: 24px;
  line-height: 140%;
}

/* the giants */
#the-giant {
  display: block;
  background-color: var(--BACKGROUND);
  height: 100%;
}

#lakers-champ-timeline {
  margin: 100px auto;
}

/* transition */
#transition-circle-svg {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* time of misery */
#time-of-misery {
  display: block;
  background-color: var(--BACKGROUND);
  color: var(--LIGHT_GREY);
}

#time-of-misery .three-dots span {
  background: var(--LIGHT_GREY);
}

#time-of-misery p {
  color: var(--LIGHT_GREY);
}

.misery-section {
  margin-top: 100px;
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.misery-text {
  width: 40%;
  text-align: center;
  padding-top: 20%;
}

.misery-text .text-box {
  width: 60%;
  border-radius: 10px;
  border-width: 3px;
  border-color: var(--LAKERS_YELLOW);
  border-style: solid;
  vertical-align: center;

  padding: 6%;
  margin: auto;
  margin-bottom: 100%;
  /* margin-top: 30%; */

  font-size: 30px;
  text-align: left;
  line-height: 1.2em;

  opacity: 0.3;
}

.misery-text .text-box.seen {
  opacity: 1;
}

.misery-graph-container {
  position: absolute;
  margin-top: 100px;
  top: 0;
  margin-left: 45%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.misery-graph-container.is-fixed {
  position: fixed;
}

.misery-graph-container.is-bottom {
  bottom: 0;
  top: auto;
}

#misery-step-3 {
  margin-bottom: 80%;
}

.misery-graph-container svg {
  top: 300px;
  position: relative;
}

/* the New Team */
#new-team {
  background-color: var(--BACKGROUND);
  z-index: 2;
  margin-bottom: 200px;
}

/* Regular Season */
#regular-season {
  background-color: var(--BACKGROUND);
  position: relative;
}

.lakers-season-logs-class {
  position: absolute;
  left: 0;
  right: 0;
}

.annotation-connector path{
  fill: var(--LAKERS_YELLOW);
  stroke: var(--LAKERS_YELLOW);
}

.lakers-season-logs-class svg {
  top: 200px;
}

.lakers-season-logs-class.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.lakers-season-logs-class.is-bottom {
  bottom: -300px;
  left: 0;
  right: 0;
}

#regular-season-log-story {
  margin-top: 35%;
  text-align: left !important;
}

#regular-season-log-story-sections {
  margin: auto;
  top: 0px;
  z-index: 90;
  text-align: center;
}

#regular-season-log-story-sections section p {
  font-size: 18px;
}

#regular-season-log-story-sections .section-title {
  margin-bottom: 20px;
}

#regular-season-log-story-sections .section-title h3 {
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#regular-season-log-story-sections .section-title p {
  font-size: 20px;
}

.lakers-season-story-image {
  height: 350px;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 30px;
}

.step {
  margin-bottom: 300px;
}

.section-title p {
  text-align: center;
}

/* regular season summary */
#regular-season-summary {
  background-color: var(--BACKGROUND);
  position: relative;
}

.regular-season-summary-section {
  margin-top: 100px;
  position: relative;
  width: 100%;
  height: 100%;
}

.regular-season-summary-text {
  width: 40%;
  text-align: center;
  padding-top: 20%;
}

#summary-step-4 {
  margin-bottom: 80%;
}

.regular-season-summary-text .text-box {
  width: 60%;
  vertical-align: center;

  padding: 6%;
  margin: auto;
  margin-bottom: 100%;
  /* margin-top: 30%; */

  font-size: 40px;
  text-align: left;
  line-height: 1.2em;

  opacity: 1;
}

.regular-season-summary-graph-container {
  position: absolute;
  top: 0;
  margin-left: 45%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.regular-season-summary-graph-container.is-fixed {
  position: fixed;
}

.regular-season-summary-graph-container.is-bottom {
  bottom: -500px;
  top: auto;
}

/* kobe page */
#kobe-memory {
  position: relative;

  background-image: url('../files/images/kobe_memo.jpg');
  opacity: 0.9;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#kobe-memory-text {
  background-color: #5454547f;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#kobe-memory-text p {
  color: white;
  font-size: 30px;
  line-height: 1.7em;
}

/* playoffs */
#playoffs {
  /* background-color: #202125; */
  background-color: var(--DARK_GREY);
  width: 100%;
  height: 100%;
  color: var(--LIGHT_GREY);
  padding-top: 40px;
}

#playoffs .three-dots span {
  background: var(--LIGHT_GREY);
}

#playoffs-intro-section {
  display: flex;
  margin: auto 20%;
}

#playoffs-intro-section .left {
  width: 65%;
  margin-right: 0;
  text-align: right;
}

#playoffs-intro-section .left p {
  width: 60%;
  margin-right: 20%;
  color: var(--LIGHT_GREY);
  font-size: 26px;
  line-height: 160%;
}

#playoffs-intro-section .right {
  width: 35%;
}

#playoffs-intro-section .right .playoffs-img-caption {
  padding-left: 20px;
  width: 75%;
  font-size: 16px;
}

#playoffs-intro-section .right {
  text-align: left;
}

#playoffs-intro-section .right img {
  width: 400px;
  margin-left: 20px;
}

/* playoff games */
#playoffs-rounds {
  position: relative;
  width: 100%;
  height: 560%;
  overflow: hidden;

  background: #202125;
}

#playoffs-rounds svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

/* ending words */
.endingWordGroup div {
  color: white;
  font-size: 13px;
  line-height: 150%;
  text-align: center;
}

.playoffs-game-text div {
  color: white;
  font-size: 10px;
  line-height: 150%;
  text-align: left;
}

/* reference */

.reference {
  background-color: var(--DARK_GREY);
  color: var(--REFERENCE_TITLE_COLOR);
  text-align: left;
  padding: 200px;
}

.reference h1 {
  margin-bottom: 30px;
}

.reference-section {
  margin-bottom: 50px;
}

.reference-sub-section {
  width: 40%;
  margin-bottom: 10px;
}

.reference-key {
  color: var(--REFERENCE_TITLE_COLOR);
  font-size: 16px;
}

.reference-value {
  color: var(--REFERENCE_TEXT_COLOR);
}

.reference-title {
  font-size:22px;
  font-weight: 200;
  margin-top: 5px;
  margin-bottom: 15px;
}

.reference li {
  font-size: 18px;
  color: var(--REFERENCE_TEXT_COLOR);
}

.reference a {
  color: var(--REFERENCE_TEXT_COLOR);
}

a:link {
  color: var(--REFERENCE_TEXT_COLOR);
}

a:hover {
  color: var(--REFERENCE_TEXT_COLOR);
}

a:visited {
  color: var(--REFERENCE_TEXT_COLOR);
}

/* embedded youtube videos */

.video-annotation text tspan {
  font-size: 10px;
  font-family: 'Caveat';
}

.video-section {
  visibility: hidden !important;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(32, 33, 37, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-section.active {
  visibility: visible !important;
}

.close-video {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 60px;
  right: 60px;
  filter: invert(1);
  cursor: pointer;
}

/* the new team */

#intro-text p{
  margin:0px 0px 0px 20px;
  font-size: 30px ;
  text-align: left;
  line-height: 125%;
}


/* other team player page */
.wrapper-other-player{
  display: grid;
  margin: 50px 150px 50px 250px;
  grid-template-columns: 230px repeat(3, 420px) 230px;
  grid-template-rows: 150px repeat(4, 220px); 
  gap: 50px;
  height:100% 
}

#other-player-intro {
  grid-column: 1/6;
  grid-row: 1;
  object-fit: cover;
  font-size: 60px;
  text-align: center;
}

#vogel-box{
  grid-column: 2;
  grid-row: 2/4;
  margin: 0px;
  object-fit: cover;
  box-shadow:  1px 2px 6px 2px rgba(0, 0, 0, 0.5);
}

#rondo-box{
  grid-column: 3;
  grid-row: 2/4;
  margin: 0px;
  object-fit: cover;
  box-shadow:  1px 2px 6px 2px rgba(0, 0, 0, 0.5);
}

#howard-box{
  grid-column: 4;
  grid-row: 2/4;
  margin: 0px;
  object-fit: cover;
  box-shadow:  1px 2px 6px 2px rgba(0, 0, 0, 0.5);
}

#kcp-box{
  grid-column: 2;
  grid-row: 4/6;
  margin: 0px;
  object-fit: cover;
  box-shadow:  1px 2px 6px 2px rgba(0, 0, 0, 0.5);
}

#kuzma-box{
  grid-column: 3;
  grid-row: 4/6;
  margin: 0px;
  object-fit: cover;
  box-shadow:  1px 2px 6px 2px rgba(0, 0, 0, 0.5);
}

#caruso-box{
  grid-column: 4;
  grid-row: 4/6;
  margin: 0px;
  object-fit: cover;
  box-shadow:  1px 2px 6px 2px rgba(0, 0, 0, 0.5);
}

.other-player-format{
  text-align: left;
  font-size: 32px ;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right:5px;
}

#kcp-format{
  text-align:left;
  font-size: 32px ;
  padding-left: 20px;
  padding-right:5px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.other-player-text-format:not(.exclude){
  text-align: left;
  width: 90%;
  font-size: 20px ;
  margin-top:20px;
  margin-right: 30px;
  padding-left: 20px;
  padding-right:10px;
  line-height: 120%;
}

#new-team {
  background-color: var(--BACKGROUND);
}

/* the new team page */

.performance-title {
  font-size: 120px;
  color: #9D0000;
  text-align: left;
}


.performance-Text {
  font-size: 30px ;
  text-align: left;
}


.ad-wrapper{
  display: grid;
  margin: 200px 150px 200px 250px;
  grid-template-columns: 180px 420px 420px 550px 130px;
  grid-template-rows: 380px 300px 300px; 
  gap: 50px;
  height:100% 
}

#ad-box-1{
  grid-column: 4;
  grid-row: 1/4;
  margin: 0px;
  object-fit: fill;
}

#ad-box-1>img{
  margin-top: 50px;
  margin-left:20px;
  border-radius: 10px;
  width: 100%;
}

#ad-box-2{
  grid-column:2/4 ;
  grid-row: 1;
  margin-top: 30px;
}

#ad-box-2 p{
  text-align: left;
  margin-left: 10px;
  margin-top: 125px;
  margin-right:0px;
  line-height: 125%;
}

#ad-box-3{
  grid-column: 2  ;
  grid-row: 2;
  margin-left:30px;
  margin-top: 0px;
}

#ad-box-4{
  grid-column: 3;
  grid-row: 2;
  margin-left:30px;
  margin-top: 0px;
}

#ad-box-4 >*{
  object-fit: cover
}

#ad-box-5{
  grid-column: 2  ;
  grid-row: 3;
  margin-left:30px;
  margin-bottom: 80px;
}

#ad-box-5 >*{
  object-fit: cover
}

#ad-box-6{
  grid-column: 3;
  grid-row: 3;
  margin-left:30px;
  margin-bottom: 80px;
}

#ad-box-6 >*{
  object-fit: cover
}

/* LB section */
.lb-wrapper{
  display: grid;
  margin: 200px 150px 200px 250px;
  grid-template-columns: 120px 630px 420px 420px 110px;
  grid-template-rows: 380px 300px 300px; 
  gap: 50px;
  height:100% 
}

.lb-wrapper > div {
  
  text-align: left
}

#lb-performance-title {
  font-size: 100px;
  color: #9D0000;
  text-align: left;
  margin-left: 30px;
}

#lb-box-1{
  grid-column: 2;
  grid-row: 1/4;
  margin: 0px;
  object-fit: cover;
  
}

#lb-box-1>img{
  margin-top: 0px;
  border-radius: 10px;
  width: 110%;
}

#lb-box-2{
  grid-column: 3/5;
  grid-row: 1;
  padding-top: 100px;
}

#lb-box-2 p{
  text-align: left;
  margin-left: 30px;
  margin-top: 50px;
  margin-right:0px;
  line-height: 125%;
  font-size: 30px;
  width: 100%;
}

#ad-box-2 p{
  text-align: left;
  margin-left: 30px;
  margin-top: 50px;
  margin-right:0px;
  line-height: 125%;
  font-size: 30px;
  width: 100%;
}

#lb-box-3{
  margin-left:30px;
  margin-top: 30px;
  grid-column: 3;
  grid-row:2;
  
}
#lb-box-3 >*{
  object-fit: cover
}

#lb-box-4{
  margin-left:30px;
  margin-top: 30px;
  grid-column: 4;
  grid-row: 2;
 
}

#lb-box-4 >*{
  object-fit: cover
}

#lb-box-5{
  margin-left:30px;
  margin-bottom: 50px;
  grid-column:3 ;
  grid-row: 3;
}

#lb-box-6{
  margin-left:30px;
  margin-bottom: 50px;
  grid-column: 4;
  grid-row: 3;
}

#lb-box-6 >*{
  object-fit: cover
}


