:root {
  --LAKERS_YELLOW: #fdb927;
  --LAKERS_YELLOW_OP: #ffdd94;
  --LAKERS_PURPLE: #552583;
  --LAKERS_BLACK: #000000;
  --DARK_GREY: #434343;
  --LIGHT_GREY: #d4d4d4;
  --ORANGE: #ff9100;
  --RED: #fd2727;
  --GREEN: #2fa62b;
  --BLUE: #276bfd;
  --BACKGROUND: #f6f6f5;
}

@font-face {
  font-family: ganhdi;
  src: url('../gandhi-serif/GandhiSerif-Regular.otf');
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: ganhdi;
  line-height: 1.7em;
  margin: 0;
}

/* new version */
/* general layout settings */
/* page */
.page {
  display: block;
  text-align: center;
  padding: 40px 30px;
  transition: all 1000ms ease-in;
}

.page p {
  text-align: left;
  font-size: 20px;
  width: 700px;
  margin: auto;
  color: var(--DARK_GREY);
}

/* highlight text */
.highlight-keywords {
  color: var(--LAKERS_YELLOW);
}

.highlight-figures {
  color: var(--LAKERS_YELLOW);
  font-size: 48px;
}

/* section */
.section-title {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 28px;
}

/* three-dots divider */
.three-dots {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.three-dots span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: black;
  display: inline-block;
  margin: 0 5px;
}

/* axis */
.axisLight line {
  stroke: var(--LIGHT_GREY);
}

.axisLight path {
  stroke: var(--LIGHT_GREY);
  display: none;
}

.axisLight text {
  fill: var(--LIGHT_GREY);
  font-size: 12px;
}

.axisRecord text {
  font-size: 18px;
}

/* cover page */
.cover {
  background-image: url('../files/images/trophy.jpg');
  opacity: 0.95;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover #title {
  position: absolute;
  bottom: 100px;
  color: white;
  margin-left: 120px;
}

.cover #title h1 {
  font-size: 70px;
}

.cover #title h2 {
  font-size: 30px;
}

.cover #title p {
  font-size: 20px;
}

/* the giants */
#the-giant {
  display: block;
  background-color: var(--BACKGROUND);
  height: 100%;
}

#lakers-champ-timeline {
  margin: 100px auto;
}

/* transition */ 
#transition-circle-svg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* time of misery */
#time-of-misery {
  display: block;
  background-color: var(--BACKGROUND);
  color: var(--LIGHT_GREY);
}

#time-of-misery .three-dots span {
  background: var(--LIGHT_GREY);
}

#time-of-misery p {
  color: var(--LIGHT_GREY);
}

.misery-section {
  margin-top: 100px;
  position: relative;
  width: 100%;
  height: 100%;
}

.misery-text {
  width: 40%;
  text-align: center;
  padding-top: 20%;
}

.misery-text .text-box {
  width: 60%;
  border-radius: 10px;
  border-width: 3px;
  border-color: var(--LAKERS_YELLOW);
  border-style: solid;
  vertical-align: center;

  padding: 6%;
  margin: auto;
  margin-bottom: 100%;
  /* margin-top: 30%; */

  font-size: 30px;
  text-align: left;
  line-height: 1.2em;

  opacity: 0.3;
}

.misery-text .text-box.seen {
  opacity: 1;
}

.misery-graph-container {
  position: absolute;
  top: 0;
  margin-left: 55rem;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.misery-graph-container.is-fixed {
  position: fixed;
}

.misery-graph-container.is-bottom {
  bottom: 0;
  top: auto;
}

#misery-step-3 {
  margin-bottom: 80%;
}

.misery-graph-container svg {
  top: 300px;
	position: relative;
}

/* the New Team */
#new-team {
  background-color: var(--BACKGROUND);
  z-index: 2;
}

/* Regular Season */
#regular-season {
  background-color: var(--BACKGROUND);
  position: relative;
}

.lakers-season-logs-class {
  position: absolute;
  left: 0;
  right: 0;
}

.lakers-season-logs-class svg{
  top: 200px;
}

.lakers-season-logs-class.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.lakers-season-logs-class.is-bottom {
  bottom: 0;
  left: 0;
  right: 0;
}

#regular-season-log-story {
  margin-top: 35%;
  text-align: left !important;
}

#regular-season-log-story-sections {
  margin: auto;
  top: 0px;
  z-index: 90;
  text-align: center;
}

.lakers-season-story-image {
  height: 400px;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 30px;
}

.step {
  margin-bottom: 300px;
}


.section-title p {
  text-align: center;
}

/* regular season summary */
#regular-season-summary {
  background-color: var(--BACKGROUND);
  position: relative;
}


.regular-season-summary-section {
  margin-top: 100px;
  position: relative;
  width: 100%;
  height: 100%;
}

.regular-season-summary-text  {
  width: 40%;
  text-align: center;
  padding-top: 20%;
}

#summary-step-4 {
  margin-bottom: 80%;
}

.regular-season-summary-text .text-box {
  width: 60%;
  vertical-align: center;

  padding: 6%;
  margin: auto;
  margin-bottom: 100%;
  /* margin-top: 30%; */

  font-size: 40px;
  text-align: left;
  line-height: 1.2em;

  opacity: 1;
}


.regular-season-summary-graph-container {
  position: absolute;
  top: 0;
  margin-left: 40rem;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.regular-season-summary-graph-container.is-fixed {
  position: fixed;
}

.regular-season-summary-graph-container.is-bottom {
  bottom: -500px;
  top: auto;
}

/* end */














.text-show {
  opacity: 1 !important;
}

.text-hide {
  opacity: 0.05;
  transition: all 100ms ease-in;
}

/* layout */
.div-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.div-half {
  width: 800px;
}

/* page 1 title */
#page-1 {
  display: block;
  text-align: center;
}

#page-1-title h1 {
  font-size: 60px;
}

#page-1-title h2 {
  font-size: 24px;
  margin-bottom: 40px;
  color: var(--DARK_GREY);
}

#page-1-title h3 {
  font-size: 20px;
  color: var(--DARK_GREY);
}

#page-1-img {
  margin-bottom: 60px;
}

#page-1-img img {
  width: 800px;
}

/* page 2 lakers champ timeline*/

/* page-3 off-season */
#davis-off-season {
  margin: 50px 100px;
  display: flex;
  justify-content: center;
}

#davis-off-season img {
  margin: auto;
  border-radius: 4px;
  width: 300px;
}

#davis-off-season-left {
  margin-right: 40px;
}

#davis-off-season-left p {
  font-size: 14px;
  line-height: 150%;
  text-align: center;
}

#davis-off-season-right {
  margin-left: 40px;
}

#davis-pre-stats-small-multiples {
  margin-top: 60px;
  margin-bottom: 60px;
}

#vogel-off-season {
  margin: 50px 100px;
  display: flex;
  justify-content: center;
}

#vogel-off-season img {
  margin: auto;
  border-radius: 4px;
  width: 300px;
}

#vogel-off-season-left {
  margin-right: 40px;
}

#vogel-off-season-right {
  margin-left: 40px;
}

#vogel-off-season-right p {
  font-size: 14px;
  line-height: 150%;
  text-align: center;
}

.other-players-off-season-row {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.other-players-off-season {
  display: block;
  text-align: center;
}

.other-players-off-season p {
  text-align: center;
}

#player-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/* rating stars */
.checked {
  color: orange;
}


/* page5 - playoffs */
#lakers-playoffs-general-stats {
  margin-top: 50px;
  margin-bottom: 50px;
}

#playoffs-dashboard {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#lakers-playoffs-game-details-section {
  display: flex;
  justify-content: center;
}

#playoffs-dashboard-left {
  margin-right: 50px;
}

#lakers-playoffs-records {
  margin-left: 80px;
}

#lakers-playoffs-players-select {
  display: block;
  text-align: right;
  margin-top: 30px;
}

/* page6 LBJ & AD */
.moments-fixed {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 100px;
  z-index: 1;
}

#big-moments-img-div {
  margin-top: 80px;
  display: block;
  text-align: center;
}

#lakers-cover {
  margin: auto;
  width: 800px;
  height: auto;
}

.reference {
  margin: 50px 500px;
  display: block;
  text-align: left;
}

.reference li {
  font-size: 18px;
  color: var(--DARK_GREY);
}

a:link {
  color: var(--LIGHT_GREY);
}

a:hover {
  color: var(--LIGHT_GREY);
}

a:visited {
  color: var(--DARK_GREY);
}
