:root {
  --LAKERS_YELLOW: #fdb927;
  --LAKERS_YELLOW_OP: #ffdd94;
  --LAKERS_PURPLE: #552583;
  --LAKERS_BLACK: #000000;
  --DARK_GREY: #787878;
  --LIGHT_GREY: #d4d4d4;
  --ORANGE: #ff9100;
  --RED: #fd2727;
  --GREEN: #2fa62b;
  --BLUE: #276bfd;
}

@font-face {
  font-family: ganhdi;
  src: url('../gandhi-serif/GandhiSerif-Regular.otf');
}

html,
body {
  width: 100%;
  font-family: ganhdi;
  line-height: 1.7em;
}

.page {
  display: block;
  text-align: center;
  margin: 30px 30px;
  transition: all 1000ms ease-in;
  padding: 3%;
}

.page p {
  text-align: left;
  font-size: 18px;
  width: 500px;
  margin: auto;
  color: var(--DARK_GREY);
}

.text-show {
  opacity: 1 !important;
}

.text-hide {
  opacity: 0.05;
  transition: all 250ms ease-in;
}

/* layout */
.div-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.div-half {
  width: 800px;
}

/* section */
.section-title {
  padding-top: 40px;
  padding-bottom: 50px;
  font-size: 24px;
}

/* divider */
.three-dots {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.three-dots span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: black;
  display: inline-block;
  margin: 0 5px;
}

/* page 1 title */
#page-1 {
  display: block;
  text-align: center;
}

#page-1-title h1 {
  font-size: 60px;
}

#page-1-title h2 {
  font-size: 24px;
  margin-bottom: 40px;
  color: var(--DARK_GREY);
}

#page-1-title h3 {
  font-size: 20px;
  color: var(--DARK_GREY);
}

#page-1-img {
  margin-bottom: 60px;
}

#page-1-img img {
  width: 800px;
}

/* page 2 lakers champ timeline*/
#page-2 {
  display: block;
  text-align: center;
}

#lakers-champ-timeline {
  margin: 50px 50px;
  padding: 50px 50px;
}

/* page-3 off-season */
#davis-off-season {
  margin: 50px 100px;
  display: flex;
  justify-content: center;
}

#davis-off-season img {
  margin: auto;
  border-radius: 4px;
  width: 300px;
}

#davis-off-season-left {
  margin-right: 40px;
}

#davis-off-season-left p {
  font-size: 14px;
  line-height: 150%;
  text-align: center;
}

#davis-off-season-right {
  margin-left: 40px;
}

#davis-pre-stats-small-multiples {
  margin-top: 60px;
  margin-bottom: 60px;
}

#vogel-off-season {
  margin: 50px 100px;
  display: flex;
  justify-content: center;
}

#vogel-off-season img {
  margin: auto;
  border-radius: 4px;
  width: 300px;
}

#vogel-off-season-left {
  margin-right: 40px;
}

#vogel-off-season-right {
  margin-left: 40px;
}

#vogel-off-season-right p {
  font-size: 14px;
  line-height: 150%;
  text-align: center;
}

.other-players-off-season-row {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.other-players-off-season {
  display: block;
  text-align: center;
}

.other-players-off-season p {
  text-align: center;
}

#player-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/* rating stars */
.checked {
  color: orange;
}

/* page-4 regular season */
#regular-season-log-story {
  margin-top: 100px;
  text-align: left !important;
}

#regular-season-log-story-sections {
  position: relative;
  display: inline-block;
  margin-left: 100px;
  top: 0px;
  z-index: 90;
}

.step {
  margin-bottom: 300px;
}

.step p {
  margin-left: 0px;
}

.lakers-season-logs {
  display: inline-block;
  position: fixed;
  top: 400px;
  z-index: 1;
  margin-left: 0;
}

#lakers-season-pts-text {
  margin-top: 300px;
}

.lakers-season-pts-sec {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

#lakers-season-pts-rank {
  margin-left: 50px;
}

#lakers-players-summary {
  margin-top: 60px;
  margin-bottom: 60px;
}

.lakers-season-story-image {
  width: 470px;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* page5 - playoffs */
#lakers-playoffs-general-stats {
  margin-top: 50px;
  margin-bottom: 50px;
}

#playoffs-dashboard {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#lakers-playoffs-game-details-section {
  display: flex;
  justify-content: center;
}

#playoffs-dashboard-left {
  margin-right: 50px;
}

#lakers-playoffs-records {
  margin-left: 80px;
}

#lakers-playoffs-players-select {
  display: block;
  text-align: right;
  margin-top: 30px;
}

/* page6 LBJ & AD */
.moments-fixed {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 100px;
  z-index: 1;
}

#big-moments-img-div {
  margin-top: 80px;
  display: block;
  text-align: center;
}

#lakers-cover {
  margin: auto;
  width: 800px;
  height: auto;
}

.reference {
  margin: 50px 500px;
  display: block;
  text-align: left;
}

.reference li {
  font-size: 18px;
  color: var(--DARK_GREY);
}

a:link {
  color: var(--LIGHT_GREY);
}

a:hover {
  color: var(--LIGHT_GREY);
}

a:visited {
  color: var(--DARK_GREY);
}